
# apple
**/.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

## Core latex/pdflatex auxiliary files:
latex/*.aux
latex/*.lof
latex/*.log
latex/*.lot
latex/*.fls
latex/*.out
latex/*.toc
latex/*.fmt
latex/*.fot
latex/*.cb
latex/*.cb2
latex/*.pdf
latex/*.fdb_latexmk
latex/*.synctex.gz
.*.lb

# perso
dev
test
test_results
!test/test.py
dev
**/*.egg-info
**.fits
**.array

## docs
docs/_build
docs/md/generated
_docs
**/.ipynb_checkpoints
docs/tested_blocks.md
docs/md/all_blocks.rst
docs/md/template.py
