.vscode
Pipfile.lock
*egg-info*
*checkpoint.ipynb
docs/build
docs/source/_build
.DS_STORE
.idea
.vscode
*pyc
*phots
*fits
.idea
.vscode
*__pychache__*
test_data
paper
*.ipynb_checkpoints
hst_dev
docs/source/notebooks/dev
docs/source/notebooks/*
test/*
!test/*.py
dist
build