numpy
scipy
astropy==4.0
matplotlib
colorama
scikit-image
pandas>=1.1
tqdm
photutils
astroquery
pyyaml
sphinx
nbsphinx
docutils
tabulate
sphinx_rtd_theme
imageio
sep
xarray
numba
netcdf4
nbsphinx
celerite2
jinja2
tensorflow
requests
ipython
sphinx-copybutton