@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@650&display=swap');


@import 'theme.css';
.method {
    margin-bottom: 25px;
}

tt.xref, code.xref, code.py-meth {
    color: darkgoldenrod;
    text-decoration: underline;
}

div.sphinxsidebar {
    font-size: 13px;
}

div.sphinxsidebar li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div.highlight pre {
    line-height: 1.5em;
    font-size: 0.85em;
}

.contents.local li p:first-child {
    margin-bottom: 0px
}

.contents.local li ul {
    margin: 0 0 0 30px;
}

div.topic {
    padding: 6px;
}

.contents li {
    font-size: 0.9em;
}

.rst-content .highlight-default {
    border: none
}

.rst-content .highlight-default .highlight {
    border: none;
    background-color: transparent;
}

.wy-side-nav-search {
    background-image: url("prose_bkg.png");
    background-size: cover;
}

.wy-nav-top {
    background-image: url("prose_bkg.png");
    background-size: cover;
}

div.nbinput.container div.prompt, div.nboutput.container div.prompt {
    display: none;
}

div.nboutput.container div.output_area.stderr {
    background: none !important;
}

div.nbinput.container div.input_area pre {
    padding: 12px 12px !important;
}

.xr-wrap {
    font-size: 13px
}

.xr-dim-list li {
    margin-left: 5px !important;
}

.xr-attrs dd, 
.xr-attrs dt {
    margin: 0px 3px !important;
    padding: 0px !important;
}

h1 {
    font-size: 200%;
    font-family: 'Playfair Display', serif;
}

.rst-content code.literal {
    color: #575757
}

.docutils.literal.notranslate pre {
    color: #575757
}

.xr-attrs dt {
    background: inherit !important;
    color: inherit !important;
    border-top: inherit !important;
}

/* frf */
div.nboutput.container div.output_area > div {
    text-align: left !important;
}

div.nboutput.container div.output_area {
    text-align: center !important;
}

h2 {
    text-decoration: underline;
    font-size: 22px;
    margin-top: 50px;
}

.highlight .nn {
    color: black;
    font-weight: normal;
}

.highlight .kn, 
.highlight .k, 
.highlight .kc,
.highlight .ow{
    color: #d73a49;
    font-weight: normal;
}

.highlight .mi, 
.highlight .mf, 
.highlight .nb,
.highlight .bp {
    color: #005cc5
}

.highlight .c1 {
    color: #6a737d
}

.highlight .s2 {
    color: #032f62
}

.highlight .nc {
    color: #6f42c1;
    font-weight: normal;
}
