:root {
    /* --pst-color-inline-code: 33, 125, 224; */
    --mystnb-source-margin-color: darkgrey;
}


/* Block read write */

.blockread,
.blockwrite,
.blockmodify {
    width: 50px;
    text-align: center;
    border-radius: 9px;
    font-size: 13px;
    margin-bottom: 0px;
    padding: 2px 6px 2px 6px;
    /* margin-right: 5px; */
    opacity: 85%;
}

.blockread {
    color: rgb(65, 65, 65);
    background-color: rgba(65, 65, 65, 0.082);
    border-color: rgb(65, 65, 65);
}

.blockwrite {
    color: rgb(76, 120, 201);
    background-color: rgb(76, 120, 201, 0.082);
    border-color: rgb(76, 120, 201);
}

.blockmodify {
    color: rgb(201, 84, 76);
    background-color: rgb(201, 84, 76, 0.082);
    border-color: rgb(201, 84, 76);
}


/* Headings */

h2 {
    text-decoration: underline;
    font-size: 22px;
}


/* Code cells */

.highlight pre {
    line-height: 20px !important;
    font-weight: 500 !important;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
    font-size: 13px;
}

div.cell_output pre {
    background-color: white !important;
}

.highlight pre {
    padding: 12px !important;
}


/* no cell number */

.prompt {
    display: none !important;
}

.rst-content code.literal {
    color: #575757
}

.docutils.literal.notranslate pre {
    color: #575757
}

.xr-attrs dt {
    background: inherit !important;
    color: inherit !important;
    border-top: inherit !important;
}

div.nboutput.container div.output_area>div {
    text-align: left !important;
}

div.nboutput.container div.output_area {
    text-align: center !important;
}

.highlight .nn {
    color: black !important;
    font-weight: normal !important;
}

.highlight .kn,
.highlight .k,
.highlight .kc,
.highlight .ow {
    color: #d73a49 !important;
    font-weight: normal !important;
}

.highlight .mi,
.highlight .mf,
.highlight .nb,
.highlight .bp {
    color: #005cc5 !important
}

.highlight .c1,
.highlight .o {
    color: #6a737d !important
}

.highlight .sa,
.highlight .sé,
.highlight .s2,
.highlight .sd {
    color: #032f62 !important
}

.highlight .nd {
    color: #005cc5 !important;
    font-weight: normal !important;
}

.highlight .p,
.highlight .mi,
.highlight .mf {
    font-weight: normal !important;
}

.highlight .si {
    color: #70a0d0 !important;
}

/* code,
code span.pre {
    background: none;
    color: var(--color-brand-primary)
} */

/* Dataframe */

.cell_output .dataframe {
    font-size: 0.85em;
    width: 100%;
}

/* prose logo font  */
.navbar-brand.logo .logo__title {
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #404040;
    font-size: 2rem;
}